doctype html
html
  head
    meta(charset='UTF-8')
    title Organo | Log in
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.2
    link(href='/adminlte/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Font Awesome Icons
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='/adminlte/dist/css/AdminLTE.min.css', rel='stylesheet', type='text/css')
    // iCheck
    link(href='/adminlte/plugins/iCheck/square/blue.css', rel='stylesheet', type='text/css')
  body.login-page
    .login-box
      .login-logo
        a(href='javascript:void(0);')
          b Organo
      // /.login-logo
      .login-box-body
        p.login-box-msg Silahkan Login!
        form(action='/login/', method='POST', role='form')
          - if (messages.info)
            .alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | #{messages.info}
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Username', name='username', value='')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password', name='password', value='')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-12
              input.btn.btn-primary.btn-block.btn-flat(type='submit', value='Log In')
            // /.col
      // /.login-box-body
    // /.login-box
    // jQuery 2.1.3
    script(src='/adminlte/plugins/jQuery/jQuery-2.1.3.min.js')
    // Bootstrap 3.3.2 JS
    script(src='/adminlte/bootstrap/js/bootstrap.min.js', type='text/javascript')
    // iCheck
    script(src='/adminlte/plugins/iCheck/icheck.min.js', type='text/javascript')
    script.
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
