extends layout/base
block content  
	section.content-header
		h1
			| Hello World
			small This is a hello world page
	// Main content
	section.content
		// Your Page Content Here
		// /.row
		.row
			.col-xs-12
				- if (messages.info)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
						| #{messages.info}
				.box
					.box-header
						h3.box-title Hi, Coders
					// /.box-header
					.box-body
						p Welcome to #{title}
					// /.box-body
				// /.box
	// /.content
