extends ../layout/base
block content  
	section.content-header
		h1
			| Edit Jabatan
			small Edit jabatan organisasi Anda disini
	// Main content
	section.content
		// Your Page Content Here
		// /.row
		.row
			.col-xs-12
				.box
					.box-header
						h3.box-title Edit Jabatan
					// /.box-header
					.box-body
						- if (messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| !{messages.msg_error}
						- if (messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| #{messages.msg_info}
						form(action="/jabatan/edit/#{ (_id == undefined) ? jabatan._id : _id }", method="POST").form-horizontal
							.form-group
								label(for="nama").col-md-3.control-label Nama
								.col-md-6
									input(type="text", name="nama", id="nama", value="#{ (nama == undefined) ? jabatan.nama : nama }").form-control
							.form-group
								label(for="keterangan").col-md-3.control-label Keterangan
								.col-md-6
									textarea(name="keterangan", id="keterangan").form-control
										| #{ (keterangan == undefined) ? jabatan.keterangan : keterangan }
							.form-group
								input(type="hidden", name="_method", value="PUT")
								.col-sm-offset-3.col-sm-6
									button(type="submit").btn.btn-primary
										i.fa.fa-save
										| &nbsp; Simpan
									| &nbsp;
									a(href="/jabatan").btn.btn-danger Batal

					// /.box-body
				// /.box
	// /.content
