extends ../layout/base
block content  
	section.content-header
		h1
			| Tambah Pengguna
			small Tambah pengguna Anda disini
	// Main content
	section.content
		// Your Page Content Here
		// /.row
		.row
			.col-xs-12
				.box
					.box-header
						h3.box-title Pengguna Baru
					// /.box-header
					.box-body
						- if (messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| !{messages.msg_error}
						- if (messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| #{messages.msg_info}
						form(action="/users/add", method="POST").form-horizontal
							.form-group
								label(for="username").col-md-3.control-label Username
								.col-md-6
									input(type="text", name="username", id="username", value="#{ (username) ? username : '' }").form-control
							.form-group
								label(for="email").col-md-3.control-label E-Mail
								.col-md-6
									input(type="text", name="email", id="email", value="#{ (email) ? email : '' }").form-control
							.form-group
								label(for="firstname").col-md-3.control-label Nama Depan
								.col-md-6
									input(type="text", name="firstname", id="firstname", value="#{ (firstname) ? firstname : '' }").form-control
							.form-group
								label(for="lastname").col-md-3.control-label Nama Belakang
								.col-md-6
									input(type="text", name="lastname", id="lastname", value="#{ (lastname) ? lastname : '' }").form-control
							.form-group
								label(for="admin").col-md-3.control-label Hak Akses
								.col-md-6
									select(type="text", name="admin", id="admin").form-control
										option(value="true") Admin
										option(value="false") Member
							.form-group
								.col-sm-offset-3.col-sm-6
									button(type="submit").btn.btn-primary
										i.fa.fa-save
										| &nbsp; Simpan
									| &nbsp;
									a(href="/users").btn.btn-danger Batal

					// /.box-body
				// /.box
	// /.content
