extends ../layout/base
block content  
	section.content-header
		h1
			| Daftar Pengguna
			small Kelola pengguna Anda disini
	// Main content
	section.content
		// Your Page Content Here
		// /.row
		.row
			.col-xs-12
				- if (messages.msg_error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
						| #{messages.msg_error}
				- if (messages.msg_info)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
						| #{messages.msg_info}
				.box
					.box-header
						h3.box-title Pengguna
						.box-tools
							a(href="/users/add").btn.btn-primary.btn-sm
								i.glyphicon.glyphicon-plus  
								| &nbsp; Tambah Pengguna Baru
					// /.box-header
					.box-body.table-responsive.no-padding
						
						table.table.table-striped
							thead
								th No.
								th Username
								th Email
								th Nama Depan
								th Nama Belakang
								th Admin
								th Action
							tbody
								for user, index in users
									tr
										td #{index+1}
										td #{user.username}
										td #{user.email}
										td #{user.firstname}
										td #{user.lastname}
										td 
											if (user.admin)
												p Admin
											else
												p Member
										td
											div(style="display:inline-block;margin-right:5px;")
												a(href="/users/edit/#{user._id}").btn.btn-success.btn-xs
													i.glyphicon.glyphicon-pencil
											div(style="display:inline-block")
												form(method="POST", action="/users/delete/#{user._id}")
													input(type="hidden", name="_method", value="DELETE")
													button(type="submit").btn.btn-danger.btn-xs
														i.glyphicon.glyphicon-trash
					// /.box-body
				// /.box
	// /.content
