extends ../layout/base
block content  
	section.content-header
		h1
			| Ganti Foto Anggota
			small Ganti foto anggota organisasi Anda disini
	// Main content
	section.content
		// Your Page Content Here
		// /.row
		.row
			.col-xs-12
				.box
					.box-header
						h3.box-title Upload Foto
					// /.box-header
					.box-body
						- if (messages.msg_error)
							.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| !{messages.msg_error}
						- if (messages.msg_info)
							.alert.alert-success.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								| #{messages.msg_info}
						form(action="/anggota/change_profile_picture/#{anggota_id}", method="POST", role="form", enctype="multipart/form-data").form-horizontal
							.form-group
								label(for="nama").col-md-3.control-label Pilih Foto Baru
								.col-md-6
									input(type="file", name="nama", id="nama", value="").form-control
							.form-group
								.col-sm-offset-3.col-sm-6
									button(type="submit").btn.btn-primary
										i.fa.fa-save
										| &nbsp; Simpan
									| &nbsp;
									a(href="/anggota").btn.btn-danger Batal

					// /.box-body
				// /.box
	// /.content
