extends ../layout/base
block content  
	section.content-header
		h1
			| Daftar Kontak
			small Kelola kontak anggota Anda disini
	// Main content
	section.content
		.row
			.col-xs-12
				- if (messages.msg_error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
						| #{messages.msg_error}
				- if (messages.msg_info)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
						| #{messages.msg_info}
				.box
					.box-header
						h3.box-title Kontak #{anggota.nama}
					// /.box-header
					.box-body.table-responsive.no-padding
						form(class="form-inline", role="form", action="/anggota/kontak/#{anggota.id}", method="POST",)
							div(style="margin-left:20px;margin-right:20px;").form-group
								label(for="kontak").control-label Kontak
								|&nbsp;
								input(type="text", name="kontak", id="kontak", value="").form-control
							div(style="margin-left:20px;margin-right:20px;").form-group
								label(for="types").control-label Tipe
								|&nbsp;
								select(name="types", id="types").form-control
									option(value="telepon") Telepon
									option(value="email") E-Mail
									option(value="website") Website
									option(value="twitter") Twitter
									option(value="instagram") Instagram
							input(type="submit" value="Tambah").btn.btn-primary
						br
						br
						table.table.table-striped
							thead
								th No.
								th Kontak
								th Tipe
								th Action
							tbody
								for row, index in anggota.kontak
									tr
										td #{index+1}
										td #{row.kontak}
										td #{row.types}
										td
											div(style="display:inline-block")
												form(method="POST", action="/anggota/kontak/#{anggota.id}/delete/#{row._id}")
													input(type="hidden", name="_method", value="DELETE")
													button(type="submit").btn.btn-danger.btn-xs
														i.glyphicon.glyphicon-trash
					// /.box-body
				// /.box
	// /.content
